@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-size: 62,5%;;
}
header{
    width: 100vw;
    height: 90px;
    display: block;
    background-color: #c98b71;
    padding-top: 10px;
    position: fixed;
    margin: 5px;
}

div.foto{
    width: 100%;
    height: 200;
}

